h1,
h3,
h5 {
  text-align: center;
  text-decoration: underline;
}

body {
  font-size: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

h1 {
  padding: 1rem auto;
  margin: 2rem auto;
}

p {
  margin: 1rem auto;
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

.row>img {
  margin: 5px;
  max-height: 500px;
}

main {
  margin-bottom: 10rem;
}
